:root {
  /* COLORS */
  --green: rgb(52, 199, 89);
  --blue: rgb(0, 122, 255);
  --accessible-blue: rgb(0, 64, 221);
  --active-blue: rgb(50, 173, 230);
  --gray6: rgb(242, 242, 247);
  --gray3: rgb(199, 199, 204);
  --gray2: rgb(174, 174, 178);
  --gray1: rgb(142, 142, 147);

  /* FONTS */
  --inter: 'Inter', sans-serif;

  /* KEYBOARD-SPECIFIC */
  --min-keyboard-width: 488px;
  --border-radius: 2px;
}

html, body {
  overflow: hidden;
  font-family: var(--inter);
}

body {
  background-color: white;
  margin: 0;
}

main {
  margin: auto;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  text-align: center;
}

h1 {
  margin-top: 0;
  display: inline;
  font-size: 48px;
  font-weight: 100;
}

.title {
  margin-top: 48px;
}

h4 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
}

#read-more {
  display: inline;
  background: none!important;
  border: none;
  padding: 0!important;
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}


#read-more:active {
  color: var(--active-blue);
}

.inputs {
  position: relative;
  margin: 0 auto;
  top: 147px;
  width: 300px;
}

input.use-keyboard-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  z-index: 0;
  font-family: var(--inter);
  font-weight: 400;
}

button.copy {
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  width: 3em;
  border: 0;
  background: var(--blue);
  color: white;
  margin: 0;
  padding: 0;
  border-radius: 100px;
  z-index: 1;
  transition: width .3s, background .3s;
  font-family: var(--inter);
  font-weight: 400;
}

#modal-overlay {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0,0,0,0.4);
}

#modal-content {
  display: flex;
  flex-direction: column;
  background-color: var(--gray6);
  margin: auto;
  padding: 20px;
  max-width: 66vw;
  height: auto;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 6;
  font-family: var(--inter);
}

#close-about {
  position: sticky;
  top: 0;
  align-self: flex-end;
  color: rgb(58, 58, 60);
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

#close-about:hover,
#close-about:focus {
  color: var(--gray1);
  border: 2px;
  cursor: pointer;
}

#modal-content > h1, p, ul {
  padding: 0 24px; /* width of the close icon */
}

p {
  font-weight: 400;
}


a, a:visited {
  font-weight: 400;
  color: var(--accessible-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active{
  color: var(--blue);
}

ul {
  margin: 0 auto 0 2em;
}