.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: rgb(54, 54, 56);
  user-select: none;
  transition: bottom .4s;
  text-align: center;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background-color: rgb(124, 124, 128);
  color: white;
  font-size: 1.05rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  display: inline-block;
}

.keyboard__key:active {
  background-color: rgba(255, 255, 255, 0.384);
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: "";
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background-color: rgb(48, 219, 91)
}

.keyboard__key--dark {
  background-color: rgb(84, 84, 86);
}

.symbol-selector {
  display: none;
  position: absolute;
  background-color: rgb(124, 124, 128);
  max-height: 90px;
  overflow-y: scroll;
  width: auto;
  padding: 4px;
  border-radius: 4px;
  z-index: 1;
  cursor: default;
}

.keyboard__key--character:hover .symbol-selector {
  display: block;
}

.symbol-selector::-webkit-scrollbar {
  width: 4px;
}

.symbol-selector::-webkit-scrollbar-thumb {
  background: rgb(84, 84, 86);
  border-radius: 4px;
}

.symbol {
  display: block;
  white-space: nowrap;
  width: auto;
  background-color: rgb(124, 124, 128);
  color: white;
  margin: auto;
  padding: 8px 6px;   
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.symbol:hover,
.symbol:focus  {
  background-color: rgb(64, 156, 255);
}

.symbol:active {
  background-color: rgb(50, 173, 230  );
}