.keyboard {
  position: relative;
  top: 150px;
  margin: auto;
  width: 66%;
  min-width: var(--min-keyboard-width);
  padding: 3px 0;
  background: var(--gray3);
  user-select: none;
  text-align: center;
  border-radius: 4px;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--gray6);
  color: black;
  font-family: var(--inter);
  font-weight: 300;
  font-size: 1.05rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  display: inline-block;
}

.keyboard__key:active {
  background-color: white;
}

.keyboard__key--character:hover {
  border-radius: var(--border-radius);
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--wide:active {
  background-color: var(--gray6);
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--dark {
  background-color: var(--gray2);
}

.symbol-selector {
  display: none;
  position: absolute; 
  left: 0;
  bottom: 100%;
  background-color: var(--gray6);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-height: 95px;
  overflow-y: auto;
  width: auto;
  padding: 4px;
  border-radius: var(--border-radius);
  z-index: 3;
  cursor: default;
}

.keyboard__key--character:hover .symbol-selector {
  display: block;
}

.symbol-selector::-webkit-scrollbar {
  width: 4px;
}

.symbol-selector::-webkit-scrollbar-track {
  display: none;
}

.symbol-selector::-webkit-scrollbar-thumb {
  background: var(--gray1);
  border-radius: var(--border-radius);
}

.symbol {
  display: block;
  white-space: nowrap;
  width: auto;
  background-color: var(--gray6);
  color: black;
  font-family: var(--inter);
  font-weight: 300;
  margin: auto;
  padding: 8px 6px;   
  text-decoration: none;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

.symbol:hover,
.symbol:focus  {
  background-color: var(--blue);;
  color: var(--gray6);
}

.symbol:active {
  background-color: var(--active-blue);;
}